@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    background-color: black;
}

nav ul {
    float: right;

}

nav li {
    color: white;
    display: inline-block;
    padding: 12px;
    font-size: 20px;
    white-space: no-wrap;
    margin-right: 10px;
}

main {
    margin-top: 15%;
}

main h1 {
    font-size: 70px;
    width: 50%;
    padding: 0px 0px 15px 0px;
    position: relative;
    white-space: nowrap;
    text-align: center;
    margin: auto;

}


h1 #name {
    color: #FF69B4;
}

main p {
    font-size: 24px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FF69B4;
}


.certs h1 {
    font-size: 32px;
    margin-right: auto;
    margin-left: auto;
    
    bottom: 175px;
    
}

.cert-logos {
    text-align: center; /** centers image **/  
}

.certs img {
    width: 225px;
    top: 50px;
    position: relative;
    top: -175px;
    display: inline-block;
    margin: 25px;
}

.languages h1 {
    font-size: 32px;
    margin-right: auto;
    margin-left: auto;
    bottom: 175px;
}

.lang-logos {
    text-align: center;
}

.lang-logos img {
    width: 175px;
    top: 50px;
    position: relative;
    top: -150px;
    display: inline-block;
    margin-bottom: 0px;
    margin: 25px;
}

.project-list {
    text-align: center;
}

.project-list h1 {
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
}

.project-list img {
    width: 35px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}

.contact-form {
    text-align: center;
    margin-top: -100px;
}

.contact-form h1 {
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    bottom: 125px;
    margin-bottom: -100px;
}

.contact-form label {
    font-size: 20px;
}

.contact-form input {
    border: 1px solid purple;
    border-radius: 15px ;
    margin: 0 auto;
    height: 25px;
    width: 300px;  
}

.contact-form input[type=text] {
    font-size: 20px;
    padding: 15px;
    margin-bottom: 0px;
}



.contact-name li {
    display: inline-block;
    margin: 20px;
}

.contact-form button {
    margin-top: 15px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #FF69B4;
    border: none;
    font-weight: bold;
    font-size: 16px
}

.contact-form button:hover {
    background-color: #ff44cc;
}

.contact-email {
    margin-top: -20px;
}

.contact-email input{
    text-align: left;
    width: 680px;;
    
}

.contact-email li {
    margin-top: 15px;
}



.contact-email textarea {
    resize: none;
    font-size: 16px;
    padding: 3px;
    border: 1px solid purple;
}